:root {}

/* base styles */
.button-outlined {
  appearance: none;
  display: inline-grid;
  place-items: center;
  gap: var(--padding-xs);
  padding: var(--padding) var(--padding-xl);
  border-radius: var(--radius-lg);
  border: var(--border-width-thick) solid var(--color-primary);
  background: transparent;
  box-shadow: none;
  color: var(--color-text);
  font-family: var(--font-body);
  font-weight: 700;
  font-size: var(--text-md);
  letter-spacing: .18em;
  cursor: pointer;
}

.button-outlined:hover {
  filter: brightness(1.2);
  border-color: var(--color-primary-lighter);
}

.button-outlined[data-disabled="true"] {
  opacity: .45;
  pointer-events: none;
}
